@charset "UTF-8";
body {
	
	background-image: url("photo11.jpg");
	background-size: cover;
	background-position: right 0% bottom 70%;
	color:#008000;
	font-size :20px;
	font-family: "ＭＳ 明朝";
	font-weight: bold;
	color: #ffffff;
	height: 10em;
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
table{
  width: 400px;
  border-collapse: collapse;
  margin: 5% 0;
}
table tr{
  border-bottom: solid 2px white;
}
table tr:last-child{
  border-bottom: none;
}
table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #008080;
  color: white;
  text-align: center;
  padding: 10px 0;
}
table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #008080;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  border: solid;
}
a {
color:#F00;
}
button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: #67C5FF;
  transition: .4s;
}
button:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#ffffff;
  transition: .2s;
}
button:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background:#ffffff;
  transition: .2s;
}
button:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}
button:hover:after {
  top: 3px;
}
.yes{
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 18px 18px;   /* 余白       */
  background    : #008000;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 20px 20px 50px #666666;  /* 影の設定 */
}
.yes:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.no {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 18px 18px;   /* 余白       */
  background    : #008000;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 20px 20px 50px #666666;  /* 影の設定 */
}
.no:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}