@charset "UTF-8";

body{
	margin-top: 15em;
	background-image: url("photo-d.jpg");
	background-size: cover;
	
}

h2{
	text-align: center;
	color: white;
}

p{
	text-align: center;
}

form{
	text-align: center;
}

table{
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

p{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.yes{
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 23px;   /* 余白       */
  background    : #008000;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 20px 20px 50px #666666;  /* 影の設定 */
}
.yes:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.no {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 23px;   /* 余白       */
  background    : #008000;     /* 背景色     */
  color         : #FFFFFF;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 20px 20px 50px #666666;  /* 影の設定 */
}
.no:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}